@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #00BFAF;
}

@property --r1 {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@property --r2 {
  syntax: '<percentage>';
  initial-value: 0% ;
  inherits: false;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes maskReveal {
  from {
    --r1: 0%;
    --r2: 0%;
  }
  to {
    --r1: 100%;
    --r2: 100%;
  }
}

@theme inline {
  --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
}